/**
 * Separate file to make the addon CSP (Content-Security Policy) friendly.
 */

/**
 * font-family - in case an OS have these fonts installed,
 *   let the browser use it while the script waits for the DOM to finish
 *   which it needs before it can replace the emojis with images.
 *
 *   1. Twitter Color Emoji (SVGinOT font) - https://github.com/eosrei/twemoji-color-font
 *   2. EmojiOne Color (SVGinOT font) - https://github.com/eosrei/emojione-color-font
 *       - based on the open-source EmojiOne v2 (newer versions are no longer open-source)
 *   3. EmojiOne - the default font files from EmojiOne.com
 *       - EmojiOne v2 (newer versions are no longer open-source and no longer distributed)
 *   4. Noto Color Emoji - for Android
 *   5. Apple Color Emoji - for iOS
 *   6. Noto Emoji - for Android (black-and-white)
 *   7. EmojiSymbols
 *   8. Segoe UI Emoji - for Windows 8 and above
 *   9. Segoe UI Symbol - for Windows 7 and above
 */
img.emoji {
	display: inline;
	background: none;
	border: none;
	box-shadow: none;
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	padding: 0;
	vertical-align: -0.1em;
	font-family: 'Twitter Color Emoji', 'EmojiOne Color', 'EmojiOne', 'Noto Color Emoji', 'Apple Color Emoji', 'Noto Emoji', 'EmojiSymbols', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 1.4em; /* actual size */
	font-synthesis: none;
}
